- content_for :head do
  %script{ :type => "text/javascript", :src => "/javascript/divtools.js" }
  %script{ :src => "http://s.phono.com/releases/0.5/jquery.phono.js" }
  %script{ :src => "http://s.phono.com/addons/callme/79a53b7/jquery.callme.js" }
  %script{ :type => "text/javascript"}
    $(function() { $( "#apps" ).accordion({ collapsible: true }); });
- content_for :title do
  = "Dashboard: #{@user.username}"
- content_for :header do
  = "Dashboard: #{@user.username}"
- content_for :content do
  #apps.ui-accordion{ :style => "width: 480px" }
    - @apps.each do |app|
      %h3.ui-accordion-header
        = app.name
      %div
        Name: 
        = app.name
        %a{ :href => "/edit_name?app_id=#{app.id}" } Edit
        %br
        Jabber ID: 
        = app.jid
        %br
        Refresh Token (Use this as your password):
        = @user.token
        %br
        SIP Address: 
        = app.sip_address
        %br
        Created At: 
        = app.created_at
        %br
        DID: 
        - if !!app.did
          = app.did
        - else
          %a{ :href => "/assign_did?app_id=#{app.id}" } Activate
        %br
        Status: 
        = app.status
        .rightAlign
          %a{ :href => "/delete_app?app_id=#{app.id}" } Delete this App
  #phono{:style => "position: absolute;"}
    %select{ :id => "dialOptions" }
      - @apps.each do |app|
        %option{ :value => "sip:#{app.sip_address}" }
          = app.name
  %script{ :type => "text/javascript", :src => "/javascript/phono_plugin.js"}
  %br
  %a{ :href => "/new_app"} Create a New App
- content_for :footer do
  %a{ :href => "/logout" } Log Out
