- content_for :head do
  %script{ :type => "text/javascript", :src => "/javascript/divtools.js" }
- content_for :title do
  = "Dashboard: #{@user.username}"
- content_for :header do
  = "Dashboard: #{@user.username}"
- content_for :content do
  #apps
    - @apps.each do |app|
      %div{ :id => "app_#{app.name}", :class => "appName" }
        = app.name
        .rightAlign
          %button{ :id => "show_#{app.name}", :onclick => "showHideDiv('#{app.name}')" } Show Details
        .appDetails{ :id => "#{app.name}", :style => "display: none;" }
          Jabber ID: 
          = app.jid
          %a{ :href => "/edit_jid?app_id=#{app.id}" } Edit
          %br
          SIP Address: 
          = app.sip_address
          %br
          Created At: 
          = app.created_at
          %br
          DID Active: 
          = app.did_active
          %br
          %a{ :href => "" } Activate DID
          .rightAlign
            %a{ :href => "/delete_app?app_id=#{app.id}" } Delete this App
      %br
  %br
  %a{ :href => "/new_app"} Create a New App
- content_for :footer do
  %a{ :href => "/logout" } Log Out