!!!
%html
  %head
    %link{ :rel => "stylesheet", :type => "text/css", :href => "#{url('/css/styles.css')}" }
    %link{ :type => "text/css", :rel => "stylesheet", :href => "#{url('/css/jquery-ui-1.9.1.custom.css')}" }
    %script{ :type => "text/javascript", :src => "#{url('/javascript/flash.js')}" }
    %script{ :type => "text/javascript", :src => "http://code.jquery.com/jquery-1.8.2.js" }
    %script{ :type => "text/javascript", :src => "http://code.jquery.com/ui/1.9.1/jquery-ui.js" }
    = yield_content :head
    %title
      = yield_content :title
  %body
    #bodyDiv  
      #header
        = yield_content :header
      #flash
        = show_flash[:message]
        :javascript
          showFlash("#{show_flash[:method]}");  
      #content
        = yield_content :content
      #footer
        = yield_content :footer
